<a href="https://colab.research.google.com/github/Chucho98/CompYProg2022g1157/blob/main/Fundamentos2_CyP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#4 de Noviembre 2021

#Tipos de datos estructurados de Python

1. Listas
2. Tuplas
3. Diccionarios
4. Conjuntos (opcional)

#Listas 

- Tipo de dato que agrupa variables o valores
- Estructura secuencial (undexados empezando por 0)
- Se declara de dos formas
    - usando [ ]
    - usando list( )
- Puede contener tipos de datos diversos (En otros lenguajes de programación eso no es posible de forma directa)
- Los elementos internos se seleccionan con [ ]
- Soporta slicing
- Son mutables

In [11]:
numeros = [10, 5, 2, 3, 1]
print(numeros)

numeros2 = list()
numeros2.append(10)
numeros2.append(5)
numeros2.append(3)
numeros2.append(2)
numeros2.append(1)
print(numeros2)
numeros[2] = 20
print(numeros)
numeros[4] = 33

[10, 5, 2, 3, 1]
[10, 5, 3, 2, 1]
[10, 5, 20, 3, 1]

In [12]:
# Tipos diversos

cosas = [12 , 2 , True , "José" , 1.57 , ["pera" , "kiwi" , "uva"]]
print(cosas)
print(cosas[1])
print(cosas[4])
print(cosas[5])
print(cosas[5][1])
print(cosas[3][1:3:])
cosas[3] = cosas[3].upper()
print(cosas)

[12, 2, True, 'José', 1.57, ['pera', 'kiwi', 'uva']]
2
1.57
['pera', 'kiwi', 'uva']
kiwi
os
[12, 2, True, 'JOSÉ', 1.57, ['pera', 'kiwi', 'uva']]

In [14]:
numeros = [1,2,3,4,5,6,7,8,9,10.11]
print(numeros)
# Slicing
# 1.- 4 al 8??
print(numeros[3:8])
# 2.- [9,10]
print(numeros[8:10:])
print(numeros[-3:-1:])
# 3.- Imprimir la lista en orden inverso [11,10,9,etc., 1]
print(numeros[ : : -1])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10.11]
[9, 10.11]
[8, 9]

In [16]:
#Crear una lista con un generador
numeros = [ x*3 for x in range(101)]
print(numeros)

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99, 102, 105, 108, 111, 114, 117, 120, 123, 126, 129, 132, 135, 138, 141, 144, 147, 150, 153, 156, 159, 162, 165, 168, 171, 174, 177, 180, 183, 186, 189, 192, 195, 198, 201, 204, 207, 210, 213, 216, 219, 222, 225, 228, 231, 234, 237, 240, 243, 246, 249, 252, 255, 258, 261, 264, 267, 270, 273, 276, 279, 282, 285, 288, 291, 294, 297, 300]

#Funcion range()
tiene los mismos componentes que slicing
ini, stop, incremento
range(1, 101, 1)

In [15]:
numeros = [ x for x in range(50, 101, 5)]
print(numeros)

[50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100]

In [31]:
numeros = [4,1,15,8,22,34,50]
print(numeros)
numeros.append(99)
print(numeros)
#Numeros.clear()
numeros = []
print(numeros)

frutas = ["uvas" , "Kiwi" , "manzana" ]
copia = frutas
print( frutas )
print( copia )
frutas.append("Naranja")
print( frutas )
print( copia )

colores = ["rojo" , "azul" , "blanco"]
copia2 = colores.copy()
print(colores)
print(copia2)
colores.append("verde")
print(colores)
print(copia2)

print("Numero de veces que aparece el 15=" , numeros.count(15))

#Extend 

nombres = ["Jose" , "Pedro" , "karina"]
otrosNombres = ["Josue","Diana","Dalia"]

print(nombres)
print(otrosNombres)
nombres = nombres + otrosNombres
print(nombres)
print(otrosNombres)

#Lo mismo con el método extend
otrosNombres.extend(["Jesús","María","José"])
print(otrosNombres)
print("Jesús esta en la posición:", otrosNombres.index("Jesús"))
otrosNombres.insert(4, "Espiritu santo")
print(otrosNombres)

#pop
resultado = otrosNombres.pop() # almacena el ultimo resultado en resultado
print(otrosNombres)
print(resultado)

[4, 1, 15, 8, 22, 34, 50]
[4, 1, 15, 8, 22, 34, 50, 99]
[]
['uvas', 'Kiwi', 'manzana']
['uvas', 'Kiwi', 'manzana']
['uvas', 'Kiwi', 'manzana', 'Naranja']
['uvas', 'Kiwi', 'manzana', 'Naranja']
['rojo', 'azul', 'blanco']
['rojo', 'azul', 'blanco']
['rojo', 'azul', 'blanco', 'verde']
['rojo', 'azul', 'blanco']
Numero de veces que aparece el 15= 0
['Jose', 'Pedro', 'karina']
['Josue', 'Diana', 'Dalia']
['Jose', 'Pedro', 'karina', 'Josue', 'Diana', 'Dalia']
['Josue', 'Diana', 'Dalia']
['Josue', 'Diana', 'Dalia', 'Jesús', 'María', 'José']
Jesús esta en la posición: 3
['Josue', 'Diana', 'Dalia', 'Jesús', 'Espiritu santo', 'María', 'José']
['Josue', 'Diana', 'Dalia', 'Jesús', 'Espiritu santo', 'María']
José