<a href="https://colab.research.google.com/github/Chucho98/CompYProg2022g1157/blob/main/Fundamentos3_CyP_1157.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#23 de Noviembre 2021

Repetición:
Este tipo de estructura nos permite automatizar la ejecución repetitiva de código mientras ciertas condiciones se cumpla, tenemos 3 variantes de esta estructura en todos los lenguajes de programación:
- Desde....hasta (estructura For)
- Haz mientras (estructura While)
- Haz y luego validas mientras (estructura Do-While)

# For con Python

```
for j in range(10):
    print(f"Hola {j}")
```

# For con Leng C y/o Java
```
for(int j=0 ; j<10 ; j=j+1){
    printf("Hola %i  \n", j);
}
```

En todos los lenguajes de programación existe un tipo especial de for, conocido como ***for-each***

# For-each en Python
```
for color in colores:
    print(f"Este es el color {color}")
```

In [ ]:
# Funcion range()
# range(<INICIO>,<STOP>,<INCREMENTO>)
X = range(0,10,2)
print(X)


for j in range(10): # range(0,10) --> 0,1,2,3,4,5,6,7,8,9
    print(f"Hola {j}")

print("-.-.-.-.-.")
for j in range(0,10,2): # range(0,10,2) --> 0,2,4,6,8
    print(f"Hola {j}")

frutas = ["Uva","aguacate","pera","manzana","sandia"]

print(frutas[0])
print(frutas[1])
print(frutas[2])
print(frutas[3])
print(frutas[4])

print("---Frutas---")
for index in range(5):
    print(frutas[index])

for i in range(5):
    print("+++++")

range(0, 10, 2)
Hola 0
Hola 1
Hola 2
Hola 3
Hola 4
Hola 5
Hola 6
Hola 7
Hola 8
Hola 9
-.-.-.-.-.
Hola 0
Hola 2
Hola 4
Hola 6
Hola 8
Uva
aguacate
pera
manzana
sandia
---Frutas---
Uva
aguacate
pera
manzana
sandia
+++++
+++++
+++++
+++++
+++++

#25 de <noviembre 2021

In [2]:
for x in range(1,20,1):
    print(x)
print("Fin del programa")

for x in range(19,0,-1):
    print(x)
print("Fin del programa")

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
Fin del programa
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
Fin del programa

In [5]:
#Ejemplo 3.3
CUECER = 0
NUM = 0
N = int(input("Un valor valor númerico mayor que 1"))
for I in range(1,N+1,1):
    N = int(input("Un valor númerico mayor que 1"))
    if N == 0:
        CUECER += 1

print("Cuecer=", CUECER)

Un valor valor númerico mayor que 14
Un valor númerico mayor que 10
Un valor númerico mayor que 10
Un valor númerico mayor que 11
Un valor númerico mayor que 11
Cuecer= 2

In [7]:
for f in range( 1,11): 
    print(f"7 x {f} = {7 * f}")

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

In [ ]:
N1 =int(input("Dame un numero entre 1 y 5: "))
N2 =int(input("Dame un numero entre 2 y 10: "))

In [18]:
NUM1=int(input("dame un numero entre uno y cinco: "))
NUM2= int(input(f"dame un numero entre {NUM1} y 10: "))
if 1<NUM1>5 or NUM1<NUM2>10:
    print("escribe valores en los rangos")

for y in range(NUM1,NUM2+1,1):
    for x in range(1,11,1):
        print(y,"x",x,"=", y*x)
    print("---------------")

dame un numero entre uno y cinco: 1
dame un numero entre 1 y 10: 3
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
---------------
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
---------------
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
---------------

In [22]:
N1 = int(input("Dame un número entre 1 y 5: "))
if N1 > 0 and N1 <= 5:
    N2 = int(input(f"Dame un número entre {N1} y 10: "))
    if N2 >= N1 and N2 <=10:
        for i in range(N1, N2+1):
            for j in range(1,11):
                print(f"{i} x {j} = ", i*j)
            print("-----------------")
    else:
        print(f"Valor fuera de rango {N1}-10")
else: 
    print("Valor fuera de rango 1-5")

Dame un número entre 1 y 5: 2
Dame un número entre 2 y 10: 11
Valor fuera de rango 2-10

In [21]:
# Generadores de listas 
numeros = [0,0,0,0,0]
print(numeros)
numeros=[0 for x in range(5)]
print(numeros)
#Empleando la variable de control x para el valor inicial
numeros = [x for x in range(5)]
print(numeros)
#[10,20,30,40,50,60,70,80,90,100]
numeros=[(x+1)*10 for x in range(10)]
print(numeros)
print(".-.-.")
numeros = [x for x in range(10,101,10)]
print(numeros)
print(".-.-.")
numeros = [x*10 for x in range(1,11)]
print(numeros)

[0, 0, 0, 0, 0]
[0, 0, 0, 0, 0]
[0, 1, 2, 3, 4]
[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
.-.-.
[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
.-.-.
[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [35]:
#ejercicio: calcular promedio de edades
suma=0
edades=[0 for x in range(5)]
for x in range(5):
    edades[x]=int(input("Dame una edad: "))
    suma=suma+edades[x]
print(edades)
print("promedio: ", suma/5)

Dame una edad: 1
Dame una edad: 2
Dame una edad: 3
Dame una edad: 4
Dame una edad: 5
[1, 2, 3, 4, 5]
promedio:  3.0

In [86]:
import random
print(random.random())
print(random.uniform(0,11))
val= round(random.uniform(5,11),2)
print(val)

valores = [ round(random.uniform(0,11),2) for x in range(20)]
print(valores)

0.7461587294739468
10.289276315940159
10.28
[10.51, 9.92, 5.12, 3.82, 4.53, 0.21, 5.75, 6.89, 0.43, 4.93, 8.1, 1.18, 5.06, 9.45, 4.61, 3.27, 6.27, 4.13, 7.93, 9.74]